<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kallyruan.eldermap">

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:debuggable="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".NearbyLankmarkPkg.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NearbyLankmarkPkg.LandmarkListActivity"/>
        <activity android:name=".NavigationPkg.DisplayActivity"/>
        <activity android:name=".NavigationPkg.ScheduleTimeActivity"/>
        <service android:name=".GPSServicePkg.GPSTracker"/>
        <activity android:name=".AppMenuActivity"/>
        <activity android:name=".LocationPkg.TripReviewActivity"/>
        <activity android:name=".P2PPkg.ChatActivity"/>
        <activity android:name=".ProfilePkg.SignupActivity"/>
        <activity android:name=".ProfilePkg.ChangeWalkActivity"/>
        <activity android:name=".ProfilePkg.ChangeSizeActivity"/>
        <activity android:name=".ProfilePkg.ChangeDataActivity"/>
        <activity android:name=".ProfilePkg.SettingActivity" />
        <activity android:name=".P2PPkg.CallActivity" />
        <activity android:name=".P2PPkg.VideoDisplayActivity"/>
        <activity android:name=".LocationPkg.HistoryActivity" />
    </application>

</manifest>
